.material {
  border: 1px solid #ccc;
  border-right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  overflow: hidden;
  border-top: 0;

  &-chapter {
    background: lightgray;
    font-weight: bold;
  }

  &-exclude {
    background: #fff8c4;
  }

  &-selected {
    border-left: 10px solid #3333ff;
  }
}
